body {
  background-color: #ECFBFC;
}
hr{
  border-style: none;
  border-top: dotted;
  border-top-color: #FC4F4F;
  border-width: 5px;
  width: 5%;
}
a:hover{
  color: gold;
}
h1{
  color: #66BFBF;
}
h2{
  color: #FF5C8D;
}
h3{
  color: #8BDB81;
}
.name{
  color: #00B4D8;
}
